$border-color: #e5e7eb;
$placeholder-color: #9ca3af;
$ring-color: rgba(59, 130, 246, 0.5);
$ring-offset-color: #fff;

// Define breakpoints as variables
$small-screen-max: 640px;
$medium-screen-max: 768px;
$large-screen-max: 1024px;
$extra-large-screen-max: 1280px;
$xxl-screen-max: 1536px;
